html
    head
        style(type="text/css").
            body{
                text-align: center;
            }
            h2 {
                color: teal;
            }
            em{
                color: #9a2222;
            }
    body
        div
            h2 The Number Quiz
        div
            em Your current score is  #{score}.
            p Guess the next number in the sequence
            p #{sequence}

        div
            form(action='/examine', method='POST')
                p Your Answer: 
                input(type='number', name='answer', value='')
                input(type='hidden', name='score', value=score)
                input(type='hidden', name='index', value=index)
                br
                br
                input(type='submit', value='Submit')