html
    head
         style(type="text/css").
            body{
                text-align: center;
            }
            h2 {
                color: teal;
            }
            em{
                color: #9a2222;
            }
    body
        h2 The Number Quiz
        em Your current score is #{score}
        p You have completed the Number Quiz, with a score of #{score} out of #{total}